@charset "UTF-8";
:lang(ko) {word-break: keep-all; line-break:normal;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}

li {list-style:none;}
.slide {position:relative;}
.slideBL li {display:inline-block;}
.slideBL a {
	display:block;
	width:10px; 
	height:10px;
	border-radius:100%;
	background-color:#cbcbcb;}
.slideBL a[aria-selected="true"], .slideBL a:hover{background-color:#373737;}
