@charset "utf-8";
:lang(ko) {
	word-break: keep-all; 
	line-break:normal;
	font-family: "Malgun Gothic","WHITNBOK","WHITNBOL","AppleSDGothicNeo-Light";
    font-size: 14px;
    color: #666;}
/*공통 영역*/
body {margin:0px;}
nav {
	z-index:100;
	position:relative;
	border-bottom:#e5e5e5 solid 1px;
	border-top:#e5e5e5 solid 1px;}
ul{
	position:relative;
	font-size:0px;
	display:flex;
	padding:0px; margin:0px;}
.Depth1 {
	font-size: 16px;
	position:relative;
	}
.Depth1 ul {
	border: 1px solid #0003;
	border-bottom: 1px solid #e5e5e5;
	border-top: `1px solid #e5e5e5;
	margin: 0 0 0 10px;
	box-shadow: 0 0px 0px rgba(0,0,0,0.2);
	top:12px;
	background-color:white;
	display:none;
	position:absolute;}
.Depth1:focus-within ul,.Depth1:hover ul {
	display:block;}
.Depth1>ul>li:focus-within ul,.Depth1>ul>li:hover ul {
	display:block;}
.Depth1>a {
	height:100%;
	padding: 12px 0px;
	margin-right: 76px;
	margin-left: 10px;}
.Depth1>a:hover, .Depth1>a:focus {
	color: #099;
	border-bottom: 2px solid #099;}
.Depth1 li>a:hover,.Depth1 li>a:focus {
	background-color: #099;
    color: #fff;}
li {
	list-style:none;
	position:relative;}
.inlinelist {flex-direction:row;}
#skipheader {
	position:absolute;
	box-sizing:border-box;
	padding:10px;
	top:-100px; left:0;
	width:100%;
	margin:0px;
	display:block;
	color:#fff;
	text-align:center;
	background-color:#777;}
#skipheader:focus {top:0px;}
footer {background-color:#f3f3f3; margin:0px;}
.hidden {
	position:relative;
	z-index:-1;
	width:1px;
	height:1px;
	margin:0px;
	padding:0px;
	overflow:hidden;
	display:inline-flex;}
a {display:inline-block;
	text-decoration:none; 
	color:#000;}
a:hover {text-decoration:underline;}
#LOGO>img {padding-top:25px;}
#rightarea {
	display:flex;
	right:10px; top:25px;
	position:absolute;}
#searchform {margin-right:40px;}
.gslang {
	font-size:11px;
	padding: 10px 16px;
    border: 1px solid #e5e5e5;}
#gsko {
	color:#099;}
.width1020 {
	position:relative;
	max-width:1020px;
	margin:0px auto;}
/*페이지 별 영역*/
#searchinput {
	width: 194px;
    height: 30px;
    font-size:13px;
	border:none;
	background-color:#f3f3f3;
	color:#666;
}
.slide {position:relative;}
.slide_indi li {display:inline-block;}
.slide_indi button {
	display:block;
	width:10px; 
	height:10px;
	border:none;
	border-radius:100%;
	background-color:#cbcbcb;}
.slide_indi button[aria-selected="true"], .slide_indi button:hover{
	background-color:#373737;}
.ViewSlide li{position:relative;}
.ViewSlide div {
	position:absolute;
	top:0px; left:0px;}
.ViewSlide div.white, .ViewSlide a.white{
	color:#fff;
	text-shadow:;
}