@charset "utf-8";
/* RESET CSS */
body {margin:0px; padding:0px; word-break: keep-all; line-break:normal; font-family: "Malgun Gothic","WHITNBOK","WHITNBOL","AppleSDGothicNeo-Light"; font-size: 14px; color: #666;}
/*공통 영역*/
nav {margin-left:-10px; margin-top:18px; z-index:100; position:relative; border-bottom:#e5e5e5 solid 1px; border-top:#e5e5e5 solid 1px; width:100%; height:50px;}
ul{position:relative; display:flex; padding:0px; margin:0px;}
li {list-style:none; position:relative; font-size: 14px;}
.hidden {position:relative; z-index:-1; width:1px; height:1px; margin:0px; padding:0px; overflow:hidden; display:inline-flex;}
.width1020 {position:relative; max-width:1020px; margin:0px auto;}
i {display:block;}
a {text-decoration:none; color:#373737;}
a:hover {text-decoration:underline;}
:focus {outline: thin dotted;}
.depth1 {font-size: 16px; position:relative;}
.depth1 ul {z-index:100; border: 1px solid #0003; border-bottom: 1px solid #e5e5e5; border-top:1px solid #e5e5e5; margin: 0 0 0 10px; box-shadow: 0 5px 10px rgba(0,0,0,0.2); top:44px; background-color:white; display:none; position:absolute;}
.depth1 li {min-width:200px;}
.depth1:focus-within > ul, .depth1:hover > ul {display:block; position:absolute; top:100%; left:0px;}
.depth1 > ul > li:focus-within > ul, .depth1 > ul > li:hover > ul {display:block;}
.depth1 a {
	height:20px;
	padding: 5px 0 5px 20px;
	display:block;
	color:#373737;
	text-decoration:none;}
.depth1 a:hover {text-decoration:none;}
.depth1 > a {color: #373737; display:inline-flex; font-weight: bold; font-size: 16px; margin-right:76px; margin-left:10px; padding: 12px 0px;}
.depth1:hover > a, .depth1 > a:focus {color: #099; border-bottom:#099 solid 2px;}
.depth1 li > a:hover,.depth1 li > a:focus {background-color: #099; color: #fff;}
.depth_menu:after {display: block; content:""; float: right; width: 0; height: 0; border-color: transparent; border-style: solid; border-width: 5px 0 5px 5px; border-left-color: #cccccc; margin-top: 5px; margin-right: 5px;}
.left_depth + ul {position:absolute; left:190px; top:-5px;}
.right_depth + ul {position:absolute; right:200px; top:-5px;}
.flex_container {display:flex;}
#skip_header {position:absolute; box-sizing:border-box; padding:10px; top:-100px; left:0; width:100%; margin:0px; display:block; color:#fff; text-align:center; background-color:#777;}
#skip_header:focus {top:0px;}
#logo > img {padding-top:25px;}
#rightarea {display:flex; right:10px; top:25px; position:absolute;}
#search_form {margin-right:40px; padding: 9px 10px;}
.gslang {font-size:11px; padding: 10px 16px; border: 1px solid #e5e5e5;}
#gsko {color:#099;}
footer {background-color:#f3f3f3; margin-top:40px; height:158px;}
footer ul {margin: 1.57143em 0em;}
address {font-style:normal;}
.address {margin-left:1%;}
.address p {margin:0px;}
footer select {color: #666666; font-size: 13px; -webkit-appearance: none; margin-top: 15px; background: transparent url(http://www.gs.co.kr/sites/all/modules/gs_family_site/images/footer_arrow.png) no-repeat 160px center; border: 1px solid #ccc; text-transform: none; width: 180px; float: right; overflow: hidden; margin-right: 15px; padding: 10px 8px; box-sizing: border-box;}
footer ul:first-child {padding-right:1%;}
footer li {padding:0px 1%; border-right:1px solid #e5e5e5;}
footer a {font-size:14px; font-family:"Malgun Gothic"; color:#373737; font-weight:bold;}
footer a:hover {text-decoration:none;}

/*페이지 별 영역*/
#search_input {width: 194px; height: 30px; font-size:13px; border:none; background-color:#f3f3f3; color:#666;}
#submit_btn {background-color:transparent; background-repeat:no-repeat; border:none; background-image:url(http://www.gs.co.kr/sites/all/themes/GStheme/images/btn_search.png); width:14px; height:14px;}
.more {padding: 15px; position:absolute; right:-5px; top:-5px;}
.slide {position:relative;}
.gs_text {font-family: "WHITNBOL","Malgun Gothic"; font-weight:900;}
.main_slide {margin-top: 10px; margin-bottom: 1.57143em;}
.main_slide a + p {padding-top: 1.5em; font-size: 16px; line-height: 1.6em;}
.indiul button{cursor:pointer; padding:0px; border:none; border-radius:100%;}
.main_slide_indicator {z-index:3; left: 80px; position:absolute; bottom:15px;}
.main_slide button{background-color:#eee; border:none; width: 13px; height: 13px; margin-right: 2px;}
.main_slide_indicator button:hover {background-color:#fff;}
.main_slide_indicator button[aria-selected="true"] {background-color: #777!important; cursor:default; opacity:1;}
.slide_contents li{position:relative; display:none;}
.slide_contents a {max-height: 44px; margin-top: 20px; margin-bottom: 20px; padding-right: 20px;}
.sllde_contents, .selected {display:block !important;}
.slide_contents div {padding-left: 80px; padding-top: 40px; color: #fff; width: 50%; position:absolute; top:0px;}
.white p, .white a{text-shadow: 0 0 1px rgba(0,0,0,0.5), 0 0 2px rgba(0,0,0,0.5), 0 0 3px rgba(0,0,0,0.5), 0 0 4px rgba(0,0,0,0.5), 0 0 5px rgba(0,0,0,0.5), 0 0 10px rgba(0,0,0,0.5), 0 0 20px rgba(0,0,0,0.5), 0 0 30px rgba(0,0,0,0.5);	color:#fff;}
.white a {font-size: 46px;}

/*슬라이드 인디케이터*/
.slide_indicator {padding: 0; bottom: 20px; padding-left: 10.3%;}
.slide_indicator+ul {background-color:#f0f0f0; position:relative; top:-22px;}
.slide_indicator+ul li {width:450px; height:105px;}
.slide_indicator+ul li strong {margin-left: 20px; margin-top: 10px; font-size:16px; font-weight:bold; overflow:hidden; max-height: 22px; line-height: 22px;}
.slide_indicator+ul li p {line-height:22px; max-height: 44px; margin-top: 20px; margin-bottom: 20px; margin-left: 20px; padding-right: 20px;}
.slide_indicator li, .main_slide_indicator li {margin: 0 6px;}
.slide_indicator button{
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	width:10px; 
	height:10px;
	background-color:#cbcbcb;}
.slide_indicator button.selected, .slide_indicator button:hover, .slide_indicator button:focus {background-color:#373737; cursor:default;}
/*슬라이드 재생,이전,다음*/
#stop_slide {display: block; width: 20px; height: 20px; position:absolute; bottom:17px; left: 20px; background-color:transparent; opacity: 0.8; z-index: 10;}
#stop_slide:after {content:""; display:block; border-left:solid white 8px; border-right:solid white 8px; width:18px; height:18px; box-sizing:border-box; position:absolute; bottom:0px; left:0px;}
#stop_slide:hover {opacity:1;}
.preslide, .nextslide {opacity:0.7; transition:0.3s ease-in-out; background-color:transparent !important; background-image:url(http://www.gs.co.kr/sites/all/modules/flexslider/assets/css/main_banner_prev.png) !important; background-repeat:no-repeat; width: 40px !important; height: 100px !important; text-shadow: 1px 1px 0 rgba(255,255,255,0.3); position:absolute; top:47%;}
.preslide:hover {opacity:1;}
.nextslide:hover {opacity:1;}
.preslide {left:10px;}
.nextslide {transform:scaleX(-1); right:10px;}
.left_big_box {left:0px;}
.right_big_box {position:absolute; right:0px;}
.block {width:48%; margin-right:1%;}
.block > div {position:relative;}
.contents_block_img {margin-right: 20px; border: 1px solid #adadad;}
.notice {margin:40px auto; border-bottom: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5; padding-top: 20px; padding-bottom: 20px;}
.notice h2{margin-top:0px; color: #009999; font-size: 14px; font-weight: bold; float: left; display: inline; border-bottom: none; padding-top: 17px; margin-right: 20px;}
.notice_disc {margin-left: 10px;}
.notice_control {position:absolute; right:0px;}
.viewlink {padding: 13px 5px 19px 16px; border-left: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; width: 48%;}
.viewlink img {margin-right: 10px; margin-top: 0px; padding-bottom: 20px; float:left;}
.viewlink strong {line-height:30px;}
.viewlink p {color: #666666; font-size: 12px; line-height: 1.5em; height: 2.5em; padding-right: 20px;}
.block_title_link {
	font-size:24px;
	font-weight:700;
}
.main_article {line-height: 2.09524em; border-bottom: 2px solid #373737; margin:0px; margin-bottom:35px;}
.main_article+a {
	text-overflow: ellipsis;
	margin-bottom: 40px;
	font-size: 14px;
    color: #666;
	line-height: 22px;
	height:118px;
}
.main_article+a strong {
	font-size: 16px;
    color: #373737;
    font-weight: bold;
    margin-bottom: 5px;
	text-overflow: ellipsis;
}
.main_article+a p {
	margin:0px;
	overflow:hidden;
	max-height:66px;
	text-overflow: ellipsis;}